services:
  provider_app:
    build:
      context: .
      dockerfile: ./capif_onboarding/Dockerfile
    container_name: provider_onboard
    restart: on-failure
    env_file: .env
    ports:
      - "8000"